{% extends "index.html" %}

{%block body%}
    <table class="table table-bordered">
        <thead class="table-light">
            <th>PRODUCTO</th>
            <th>VENTA</th>
            <th>CANTIDAD</th>
            <th>Total</th>
        </thead>
        <tbody>
        {%for ventas in compras%}
            <tr>
                <td>{{ventas.producto}}</td>
                <td>{{ventas.venta.usuario}}</td>
                <td>{{ventas.cantidad}}</td>
                <td>{{ventas.precio_producto}}</td>
            <tr>    
        {% endfor %}
        </tbody>
    </table>
{%endblock body%}


