
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">{% csrf_token %}
<div class="row row-cols-auto" id="produrctos_columna"> 
    {% for producto in productos %}
        <section class="col m-2 carrito">
            <img class="img-fluid rounded mx-auto" style="width:200px; height:200px;" src="{% if producto.imagen %} {{producto.imagen.url}} {% else %} https://images.pexels.com/photos/90946/pexels-photo-90946.jpeg?cs=srgb&dl=pexels-math-90946.jpg&fm=jpg {%endif%}">
            <br>
            <label class="form-label">PRODUCTO<span style="width:200px; min-height:50px" class="form-control">{{producto.nombre}}</span>
            </label>
            <br>
            <label class="form-label">DESCRIPCION<span class="form-control text" style="width:200px; min-height:180px;">{{producto.descripcion}}</span>
            </label>
            <br>
            <label class="form-label">COSTO<span style="width:200px; height:auto" class="form-control">{{producto.costo}}</span>
            </label>
            <br>
            {%if request.user.is_authenticated%}<button type="button "style="color: green" 
                class="btn btn-default btn-sm fa-cart-shoppin" onclick="agregarAlCarrito('{{producto.id}}')">
                <b style="font-size:17px"> Añadir al Carrito </b>
            </button>
            {%endif%}
            <br>
            {% comment %} {%if request.user.is_authenticated%}<i class="fa-solid fa-cart-shopping" onclick="agregarAlCarrito('{{producto.id}}')"></i>{%endif%} {% endcomment %}
            {% if user.is_superuser %}
            <button type="button" class="btn btn-primary" onclick="abrirModalEdicion('{% url 'productos:editar_productos' producto.id%}')"> EDITAR </button>
            <a class="btn btn-danger" href="{%url 'productos:eliminar_productos' producto.id%}"> ELIMINAR </a>
            {% endif %}
        </section>
    {% endfor %}

</div>
    <div class="modal fade" id="edicion" role="dialog">

    </div>
    
        <script>
            function agregarAlCarrito(id){
	            $.ajax({
		            url:'/agregar_carrito/',
		            method:'POST',
                    data:{csrfmiddlewaretoken:$("[name = 'csrfmiddlewaretoken']").val(), 'user':'{{user.id}}','producto':id},
                    beforeSend:function(){
                        Swal.fire({
                            position: 'bottom-end',
                            icon: 'success',
                            title: 'Se ha añadido',
                            showConfirmButton: false,
                            timer: 700
                        })
                    }
	            })
            }
</script>
